@font-face {
  font-family: 'GoyangIlsan';
  src: url('GoyangIlsanR-Regular.woff2') format('woff2'),
      url('GoyangIlsanR-Regular.woff') format('woff'),
      url('GoyangIlsanR-Regular.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GoyangIlsan';
  src: url('GoyangIlsanR-Regular.woff2') format('woff2'),
      url('GoyangIlsanR-Regular.woff') format('woff'),
      url('GoyangIlsanR-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GoyangIlsan';
  src: url('GoyangIlsan_L.woff2') format('woff2'),
      url('GoyangIlsan_L.woff') format('woff'),
      url('GoyangIlsan_L.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}